interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions?api-version=2019-01-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/5efd31aa2748200054070001\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n      \"name\":
        \"5efd31aa2748200054070001\",\r\n      \"properties\": {\r\n        \"ownerId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/users/1\",\r\n
        \       \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/starter\",\r\n
        \       \"displayName\": null,\r\n        \"state\": \"active\",\r\n        \"createdDate\":
        \"2020-07-02T01:00:26.783Z\",\r\n        \"startDate\": null,\r\n        \"expirationDate\":
        null,\r\n        \"endDate\": null,\r\n        \"notificationDate\": null,\r\n
        \       \"primaryKey\": \"f6d377153cfd457390cdd289918e4af4\",\r\n        \"secondaryKey\":
        \"5a7ac67c869f49218e6f21bed3bf880c\",\r\n        \"stateComment\": null,\r\n
        \       \"allowTracing\": true\r\n      }\r\n    },\r\n    {\r\n      \"id\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/5efd31ab2748200054070002\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n      \"name\":
        \"5efd31ab2748200054070002\",\r\n      \"properties\": {\r\n        \"ownerId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/re[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002?api-version=2019-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002","name":"clitest000002","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAAKTOs=","properties":{"publisherEmail":"publisher@contsoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contsoso.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc":"2020-07-02T00:56:16.0597636Z","gatewayUrl":"https://clitest000002.azure-api.net","gatewayRegionalUrl":"https://clitest000002-westus-01.regional.azure-api.net","portalUrl":"https://clitest000002.portal.azure-api.net","developerPortalUrl":"https://clitest000002.developer.azure-api.net","managementApiUrl":"https://clitest000002.management.azure-api.net","scmUrl":"https://clitest000002.scm.azure-api.net","hostnameConfigurations":[{"type":"Proxy","hostName":"clitest000002.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true}],"publicIPAddresses":["13.91.49.36"],"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null},"sku":{"name":"Developer","capacity":1},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAKTOs="'
    status:
      code: 200
      message: OK
[...]
{"scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis",
      "displayName": "foo-bar"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003?api-version=2019-01-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/su[...]
[...]
- request:
    body: '{"properties": {"displayName": "bar-foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '*'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003/regeneratePrimaryKey?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003/regenerateSecondaryKey?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
