interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/master\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n      \"name\":
        \"master\",\r\n      \"properties\": {\r\n        \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/\",\r\n
        \       \"displayName\": \"Built-in all-access subscription\",\r\n        \"state\":
        \"active\",\r\n        \"createdDate\": \"2020-09-08T22:35:12.227Z\",\r\n
        \       \"startDate\": null,\r\n        \"expirationDate\": null,\r\n        \"endDate\":
        null,\r\n        \"notificationDate\": null,\r\n        \"stateComment\":
        null,\r\n        \"allowTracing\": true\r\n      }\r\n    }\r\n  ],\r\n  \"count\":
        1\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003?api-version=2019-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003","name":"clitest000003","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAANQR8=","properties":{"publisherEmail":"publisher@contsoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contsoso.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc":"2020-09-08T22:35:07.7939148Z","gatewayUrl":"https://clitest000003.azure-api.net","gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":"clitest000003.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"disableGateway":false,"apiVersionConstraint":{"minApiVersion":null}},"sku":{"name":"Consumption","capacity":0},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAANQR8="'
    status:
      code: 200
      message: OK
[...]
{"scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/apis",
      "displayName": "foo-bar"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/apim_subscription-000001?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/apim_subscription-000001\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
        \"apim_subscription-000001\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/apis\",\r\n
        \   \"displayName\": \"foo-bar\",\r\n    \"state\": \"active\",\r\n    \"createdDate\":
        \"2020-09-08T22:36:12.4777923Z\",\r\n    \"startDate\": null,\r\n    \"expirationDate\":
        null,\r\n    \"endDate\": null,\r\n    \"notificationDate\": null,\r\n    \"primaryKey\":
        \"4281805bfe1142b1b86df4546f1d82f9\",\r\n    \"secondaryKey\": \"853bcc4650364f8ab1f08cfd7c5c5576\",\r\n
        \   \"stateComment\": null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAiRxY="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"displayName": "bar-foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '*'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/apim_subscription-000001?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/apim_subscription-000001/listSecrets?api-version=2019-12-01
  response:
    body:
      string: '{"primaryKey":"4281805bfe1142b1b86df4546f1d82f9","secondaryKey":"853bcc4650364f8ab1f08cfd7c5c5576"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAiRxw="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/apim_subscription-000001/regeneratePrimaryKey?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/apim_subscription-000001/regenerateSecondaryKey?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/subscriptions/master\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n      \"name\":
        \"master\",\r\n      \"properties\": {\r\n        \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000002/providers/Microsoft.ApiManagement/service/clitest000003/\",\r\n
        \       \"displayName\": \"Built-in all-access subscription\",\r\n        \"state\":
        \"active\",\r\n        \"createdDate\": \"2020-09-08T22:35:12.227Z\",\r\n
        \       \"startDate\": null,\r\n        \"expirationDate\": null,\r\n        \"endDate\":
        null,\r\n        \"notificationDate\": null,\r\n        \"stateComment\":
        null,\r\n        \"allowTracing\": true\r\n      }\r\n    }\r\n  ],\r\n  \"count\":
        1\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
version: 1
