interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"value\": [\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/5f04f4fda2e20a004d070001\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n      \"name\":
        \"5f04f4fda2e20a004d070001\",\r\n      \"properties\": {\r\n        \"ownerId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/users/1\",\r\n
        \       \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/starter\",\r\n
        \       \"displayName\": null,\r\n        \"state\": \"active\",\r\n        \"createdDate\":
        \"2020-07-07T22:19:41.083Z\",\r\n        \"startDate\": null,\r\n        \"expirationDate\":
        null,\r\n        \"endDate\": null,\r\n        \"notificationDate\": null,\r\n
        \       \"stateComment\": null,\r\n        \"allowTracing\": true\r\n      }\r\n
        \   },\r\n    {\r\n      \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/5f04f4fea2e20a004d070002\",\r\n
        \     \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n      \"name\":
        \"5f04f4fea2e20a004d070002\",\r\n      \"properties\": {\r\n        \"ownerId\":
        \"/subscriptions/00000000-0000-0000-0000-000000000000/r[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002?api-version=2019-12-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002","name":"clitest000002","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAAKiB4=","properties":{"publisherEmail":"publisher@contsoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contsoso.com","provisioningState":"Succeeded","targetProvisioningState":"","createdAtUtc":"2020-07-07T22:14:18.7890259Z","gatewayUrl":"https://clitest000002.azure-api.net","gatewayRegionalUrl":"https://clitest000002-westus-01.regional.azure-api.net","portalUrl":"https://clitest000002.portal.azure-api.net","developerPortalUrl":"https://clitest000002.developer.azure-api.net","managementApiUrl":"https://clitest000002.management.azure-api.net","scmUrl":"https://clitest000002.scm.azure-api.net","hostnameConfigurations":[{"type":"Proxy","hostName":"clitest000002.azure-api.net","encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true}],"publicIPAddresses":["13.91.40.76"],"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":{"Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Ciphers.TripleDes168":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls10":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Tls11":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Security.Backend.Protocols.Ssl30":"False","Microsoft.WindowsAzure.ApiManagement.Gateway.Protocols.Server.Http2":"False"},"virtualNetworkType":"None","certificates":null,"disableGateway":false,"apiVersionConstraint":{"minApiVersion":null}},"sku":{"name":"Developer","capacity":1},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAKiB4="'
    status:
      code: 200
      message: OK
[...]
{"scope": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis",
      "displayName": "foo-bar"}}\'''''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/subscriptions\",\r\n  \"name\":
        \"apim_subscription-000003\",\r\n  \"properties\": {\r\n    \"scope\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis\",\r\n
        \   \"displayName\": \"foo-bar\",\r\n    \"state\": \"active\",\r\n    \"createdDate\":
        \"2020-07-07T22:45:40.1819768Z\",\r\n    \"startDate\": null,\r\n    \"expirationDate\":
        null,\r\n    \"endDate\": null,\r\n    \"notificationDate\": null,\r\n    \"primaryKey\":
        \"cfda28757cf144c5af75d0b4752b54f3\",\r\n    \"secondaryKey\": \"896387aa40054c01814cd3ca5ef3451a\",\r\n
        \   \"stateComment\": null\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACQw="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"properties": {"displayName": "bar-foo"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '*'
    method: PATCH
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003/listSecrets?api-version=2019-12-01
  response:
    body:
      string: '{"primaryKey":"cfda28757cf144c5af75d0b4752b54f3","secondaryKey":"896387aa40054c01814cd3ca5ef3451a"}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACQ4="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003/regeneratePrimaryKey?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/subscriptions/apim_subscription-000003/regenerateSecondaryKey?api-version=2019-12-01
  response:
    body:
      string: ''
    headers:
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 204
      message: No Content
[...]
