interactions:
- request:
    body: '{"name": "cli-test-apim-000003"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/checkNameAvailability?api-version=2019-01-01
  response:
    body:
      string: '{"nameAvailable":true,"reason":"Valid","message":""}'
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"notificationSenderEmail": "publisher@contoso.com", "enableClientCertificate":
      true, "virtualNetworkType": "None", "publisherEmail": "publisher@contoso.com",
      "publisherName": "Contoso"}, "sku": {"name": "Developer", "capacity": 1}, "location":
      "westus"}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003?api-version=2019-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003","name":"cli-test-apim-000003","type":"Microsoft.ApiManagement/service","tags":{},"location":"West
        US","etag":"AAAAAAAHEs8=","properties":{"publisherEmail":"publisher@contsoso.com","publisherName":"Contoso","notificationSenderEmail":"publisher@contsoso.com","provisioningState":"Created","targetProvisioningState":"Activating","createdAtUtc":"2020-04-15T15:39:01.6674027Z","gatewayUrl":null,"gatewayRegionalUrl":null,"portalUrl":null,"developerPortalUrl":null,"managementApiUrl":null,"scmUrl":null,"hostnameConfigurations":[{"type":"Proxy","hostName":null,"encodedCertificate":null,"keyVaultId":null,"certificatePassword":null,"negotiateClientCertificate":false,"certificate":null,"defaultSslBinding":true}],"publicIPAddresses":null,"privateIPAddresses":null,"additionalLocations":null,"virtualNetworkConfiguration":null,"customProperties":null,"virtualNetworkType":"None","certificates":null},"sku":{"name":"Developer","capacity":1},"identity":null}'
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAHEs8="'
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX0FjdF8yYWQwM2U2MA==?api-version=2019-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX0FjdF8yYWQwM2U2MA==?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX0FjdF8yYWQwM2U2MA==?api-version=2019-01-01
    status:
      code: 202
      message: Accepted
[...]
- request:
    body: null
    headers:
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.Storage/storageAccounts/clitest000002/listKeys?api-version=2019-06-01
  response:
    body:
      string: '{"keys":[{"keyName":"key1","value":"veryFakedStorageAccountKey==","permissions":"FULL"},{"keyName":"key2","value":"veryFakedStorageAccountKey==","permissions":"FULL"}]}'
    headers:
      content-type:
      - application/json
      x-ms-ratelimit-remaining-subscription-resource-requests:
      - '11999'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-date:
      - Wed, 15 Apr 2020 17:05:27 GMT
      x-ms-version:
      - '2018-11-09'
    method: PUT
    uri: https://clitest000002.blob.core.windows.net/backups?restype=container
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/apis/az-cli000004\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"az-cli000004\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"Contoso API\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": null,\r\n    \"subscriptionRequired\": false,\r\n
        \   \"serviceUrl\": \"https://contoso.com\",\r\n    \"path\": \"test\",\r\n
        \   \"protocols\": [\r\n      \"https\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"Ocp-Apim-Subscription-Key\",\r\n      \"query\":
        \"subscription-key\"\r\n    },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"0x8D7E15F327634AF"'
      last-modified:
      - Wed, 15 Apr 2020 17:05:28 GMT
      x-ms-version:
      - '2018-11-09'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.ApiManagement/service?api-version=2019-01-01
  response:
    body:
      string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-tv6nadwmfpzdychcihuhslq73czjf2qp44nzl343m23qujdbybih774z57wr3/providers/Microsoft.ApiManagement/service/clitestyrbziev3ah7g5wgrv","name":"clitestyrbziev3ah7[...]
- request:
    body: 'b''{"storageAccount": "clitest000002", "accessKey": "veryFakedStorageAccountKey==",
      "containerName": "backups", "backupName": "cli-test-apim-000003_test_backup"}'''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/backup?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003//operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX0JhY2t1cF80OWQyMjcz?api-version=2019-01-01
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX0JhY2t1cF80OWQyMjcz?api-version=2019-01-01
  response:
    body:
      string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX1Rlcm1fOTIwNzRhOWY=?api-version=2019-01-01
  response:
    body:
      string: ''
    headers:
      location:
      - https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/cli-test-apim-000003/operationresults/d2VzdHVzOmNsaS10ZXN0LWFwaW0tYnpkY2t6eXBibnp4cGY2czdnZHpkMnB5M3FseGZmdzZxemFyX1Rlcm1fOTIwNzRhOWY=?api-version=2019-01-01
    status:
      code: 202
      message: Accepted
[...]
