interactions:
- request:
    body: '{"properties": {"value": "<policies>\n        <inbound></inbound>\n        <backend>\n                <!--
      test -->\n        </backend>\n        <outbound />\n        <on-error />\n</policies>",
      "format": "xml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/policies/policy?api-version=2019-01-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/policies/policy\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
        \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound></inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<!--
        test -->\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n\\t<on-error />\\r\\n</policies>\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACQs="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"value": "<policies>\n        <inbound></inbound>\n        <backend>\n                <!--
      test -->\n        </backend>\n        <outbound />\n        <on-error />\n</policies>",
      "format": "xml"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/policies/policy?api-version=2019-01-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/policies/policy\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/policies\",\r\n  \"name\": \"policy\",\r\n
        \ \"properties\": {\r\n    \"format\": \"xml\",\r\n    \"value\": \"<policies>\\r\\n\\t<inbound></inbound>\\r\\n\\t<backend>\\r\\n\\t\\t<!--
        test -->\\r\\n\\t</backend>\\r\\n\\t<outbound />\\r\\n\\t<on-error />\\r\\n</policies>\"\r\n
        \ }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACQs="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 200
      message: OK
version: 1
