interactions:
- request:
    body: '{"properties": {"displayName": "apim_product-000003"}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      If-Match:
      - '*'
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/apim_product-000003?api-version=2019-01-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/products/apim_product-000003\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/products\",\r\n  \"name\": \"apim_product-000003\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"apim_product-000003\",\r\n    \"description\":
        null,\r\n    \"terms\": null,\r\n    \"subscriptionRequired\": true,\r\n    \"approvalRequired\":
        false,\r\n    \"subscriptionsLimit\": null,\r\n    \"state\": \"notPublished\",\r\n
        \   \"groups\": [\r\n      {\r\n        \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/groups/administrators\",\r\n
        \       \"name\": \"Administrators\",\r\n        \"description\": \"Administrators
        is a built-in group. Its membership is managed by the system. Microsoft Azure
        subscription administrators fall into this group.\",\r\n        \"builtIn\":
        true,\r\n        \"type\": \"system\",\r\n        \"externalId\": null\r\n
        \     }\r\n    ]\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAACRA="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
version: 1
