interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"value\": [],\r\n  \"count\": 0\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"properties": {"description": "api description", "authenticationSettings":
      {}, "subscriptionKeyParameterNames": {"header": "header1234", "query": "query1234"},
      "displayName": "api display name", "serviceUrl": "http://echoapi.cloudapp.net/api",
      "path": "api-path", "protocols": ["http"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": \"api description\",\r\n    \"subscriptionRequired\":
        true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api-path\",\r\n    \"protocols\": [\r\n      \"http\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAiRxI="'
      x-ms-ratelimit-remaining-subscription-writes:
      - '1199'
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name\",\r\n    \"apiRevision\":
        \"1\",\r\n    \"description\": \"api description\",\r\n    \"subscriptionRequired\":
        true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n    \"path\":
        \"api-path\",\r\n    \"protocols\": [\r\n      \"http\"\r\n    ],\r\n    \"authenticationSettings\":
        {\r\n      \"oAuth2\": null,\r\n      \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAiRxI="'
    status:
      code: 200
      message: OK
- request:
    body: '{"properties": {"description": "api description clone", "authenticationSettings":
      {}, "sourceApiId": "/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id",
      "displayName": "api display name clone", "path": "api-path-clone", "protocols":
      ["https"]}}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.A[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id-clone?api-version=2019-12-01
  response:
    body:
      string: "{\r\n  \"id\": \"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/cli_test_apim-000001/providers/Microsoft.ApiManagement/service/clitest000002/apis/api-id-clone\",\r\n
        \ \"type\": \"Microsoft.ApiManagement/service/apis\",\r\n  \"name\": \"api-id-clone\",\r\n
        \ \"properties\": {\r\n    \"displayName\": \"api display name clone\",\r\n
        \   \"apiRevision\": \"1\",\r\n    \"description\": \"api description clone\",\r\n
        \   \"subscriptionRequired\": true,\r\n    \"serviceUrl\": \"http://echoapi.cloudapp.net/api\",\r\n
        \   \"path\": \"api-path-clone\",\r\n    \"protocols\": [\r\n      \"https\"\r\n
        \   ],\r\n    \"authenticationSettings\": {\r\n      \"oAuth2\": null,\r\n
        \     \"openid\": null\r\n    },\r\n    \"subscriptionKeyParameterNames\":
        {\r\n      \"header\": \"header1234\",\r\n      \"query\": \"query1234\"\r\n
        \   },\r\n    \"isCurrent\": true\r\n  }\r\n}"
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"AAAAAAAiRyk="'
    status:
      code: 200
      message: OK
version: 1
